.rightbar__container {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  overflow-y: scroll;
}
.rightbar__header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.rightbar__headerTitle {
  color: #b0b3b8;
  font-weight: 600;
}
.rightbar__headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightbar__headerRight > .MuiSvgIcon-root {
  color: #b0b3b8 !important;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
}

.rightbar__headerRight > .MuiSvgIcon-root:hover {
  background-color: #4e4f50;
}
